<div class="chat-header">
  <div class="header-left">
    <mat-icon class="back-icon" (click)="close()">arrow_back</mat-icon>
    <div class="chat-info">
      <div class="procedure-code">Trámite: {{ procedureCode }}</div>
    </div>
  </div>
</div>

<div class="chat-wrapper">
  <mat-dialog-content class="dialog-content">
    <div #chatContainer class="chat-container">
      <div *ngIf="messages.length === 0" class="no-messages">
        <mat-icon>chat_bubble_outline</mat-icon>
        <span>Sin mensajes enviados</span>
      </div>

      <div *ngFor="let msg of messages" class="message-success">
        <div class="message-header" *ngIf="msg.senderName || msg.senderRole">
          <div class="sender-info">
            <span class="sender-name">{{ msg.senderName }}</span>
            <span class="sender-role" *ngIf="msg.senderRole">{{ msg.senderRole }}</span>
          </div>
        </div>

        <div class="message-text">
          <ng-container *ngIf="msg.text; else loadingDots">{{ msg.text }}</ng-container>
          <ng-template #loadingDots>
            <div class="loading-dots">
              <span></span><span></span><span></span>
            </div>
          </ng-template>
        </div>

        <div class="message-time">{{ msg.timestamp }}</div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="input-area">
    <form [formGroup]="notifyForm" class="input-form">
      <textarea
        #chatInput
        formControlName="observation"
        placeholder="Escribe una observación..."
        class="chat-input"
        rows="1"
      ></textarea>
      <button mat-icon-button color="primary" [disabled]="notifyForm.invalid" (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-dialog-actions>
</div>
